<IfModule mime_module>
  AddHandler application/x-httpd-ea-php74___lsphp .php .php7 .phtml
</IfModule>

## Define environment variable
#SetEnvIf Host ^(www|staging)\.wellfoundation\.org\.uk$ SITE=$1.wellfoundation.org.uk
# Define the filesystem locations (related to document root)

SetEnvIf Request_URI ^.*  PAGES_CACHE_PATH=sites/thewell.foundation/cache
SetEnvIf Request_URI ^.*  PAGES_STATIC_PATH=sites/thewell.foundation/cache/documents
SetEnvIf Request_URI ^.*  PAGES_THEME_PATH=sites/thewell.foundation/theme
SetEnvIf Request_URI ^.*  PAGES_IMAGES_PATH=images/thewell.foundation

RewriteEngine On
Options +FollowSymlinks
Options -Indexes

## Begin - Joomlatools Pages - static cache
#
    # Define the filesystem locations (related to server root)
    RewriteRule ^ - [E=PAGES_STATIC_ROOT:%{DOCUMENT_ROOT}/%{ENV:PAGES_STATIC_PATH}]
    # Prevent direct access to the static cache
    RewriteRule ^joomlatools-pages/cache/static - [END,R=404]
    # Condition - Do not serve from cache on browser refresh or when caching is not allowed
    RewriteCond %{HTTP:Cache-Control} (must-revalidate|max-age|no-cache|no-store)
    RewriteRule .* - [S=4]
    # Condition - Only return cache for none logged in GET request
    RewriteCond %{REQUEST_METHOD} !GET [OR]
    RewriteCond %{HTTP_COOKIE} ^.*joomla_user_state=logged_in.*$
    RewriteRule .* - [S=3]
    # Rewrite - /
    # Edit when running in a subfolder
    RewriteCond "expr=%{REQUEST_URI} =~  m#/#"
    RewriteCond %{ENV:PAGES_STATIC_ROOT}/%{REQUEST_URI}/index\.html -s
    RewriteRule .* %{ENV:PAGES_STATIC_PATH}/%{REQUEST_URI}/index\.html [T=text/html,E=STATIC,L]
    # Rewrite - /path/to/page.html
    RewriteCond %{ENV:PAGES_STATIC_ROOT}/%{REQUEST_URI}\.html -s
    RewriteRule .* %{ENV:PAGES_STATIC_PATH}/%{REQUEST_URI}\.html [T=text/html,E=STATIC,L]
    # Rewrite - /path/to/page.[format]
    RewriteCond %{ENV:PAGES_STATIC_ROOT}/%{REQUEST_URI} -s
    RewriteRule .* %{ENV:PAGES_STATIC_PATH}/%{REQUEST_URI} [E=STATIC,L]
    # Mark response as STATIC
    Header set Cache-Status "HIT, STATIC" env=REDIRECT_STATIC
    # Force explicit browser and proxy cache expiration
    Header set Cache-Control "max-age=86400,s-maxage=604800" env=REDIRECT_STATIC
#
## End - Joomlatools Pages - static cache

## Begin - Theme Cache
#
    RewriteCond %{DOCUMENT_ROOT}/%{ENV:PAGES_THEME_PATH}/$1 -f
    RewriteRule theme\/(.+)$ %{ENV:PAGES_THEME_PATH}/$1 [NC,E=THEME:1,L]
    Header set Cache-Control public,max-age=315360000 env=REDIRECT_THEME
#
## End - Theme Cache

## Begin - Image Cache
#
    RewriteRule ^ - [E=PAGES_CACHE_ROOT:%{DOCUMENT_ROOT}%{ENV:PAGES_CACHE_PATH}]
    RewriteRule ^ - [E=PAGES_IMAGES_ROOT:%{DOCUMENT_ROOT}%{ENV:PAGES_IMAGES_PATH}]
    # Condition - Serve source image if no query and image exists
    RewriteCond %{QUERY_STRING} ^$
    RewriteCond %{DOCUMENT_ROOT}/%{ENV:PAGES_IMAGES_PATH}/$1.$2 -f
    RewriteRule images\/(.+)\.(jpe?g|png|gif).*$ %{ENV:PAGES_IMAGES_PATH}/$1.$2 [NC,E=IMAGE:1,L]
    # Condition - Do not serve from cache on browser refresh or when caching is not allowed
    RewriteCond %{HTTP:Cache-Control} ^(no-cache)$
    RewriteCond %{REQUEST_URI} !(?i)(.+)\.(jpe?g|png|gif).*$
    RewriteRule .* - [S=2]
    # Find WebP image (if browser supports it)
    RewriteCond %{HTTP_ACCEPT} image/webp
    RewriteCond %{DOCUMENT_ROOT}%{ENV:PAGES_CACHE_PATH}/$1\.webp_%{QUERY_STRING} -f
    RewriteRule (.+)\.(jpe?g|png|gif).*$ %{ENV:PAGES_CACHE_PATH}/$1.webp_%{QUERY_STRING} [NC,T=image/webp,E=IMAGE:1,L]
    # Find other image
    RewriteCond %{DOCUMENT_ROOT}/%{ENV:PAGES_CACHE_PATH}/$1\.$2_%{QUERY_STRING} -f
    RewriteRule (.+)\.(jpe?g|png|gif).*$ %{ENV:PAGES_CACHE_PATH}/$1.$2_%{QUERY_STRING} [NC,E=IMAGE:1,L]
    # Generate image
    RewriteCond %{ENV:REDIRECT_IMAGE} !=1
    RewriteCond %{QUERY_STRING} !^$
    RewriteRule images\/(.+)\.(jpe?g|png|gif).*$ image.php?cache_path=images&image_path=$1.$2&%{QUERY_STRING} [NC,E=IMAGE,L]
    # Set cache to 1 year
    Header set Cache-Control public,max-age=315360000 env=REDIRECT_IMAGE
#
## End - Image cache

## Begin - Redirects
#
  # Redirect IE to /browser-not-supported
  RewriteRule ^browser-not-supported$ [NC,L]
  RewriteCond %{HTTP_USER_AGENT} "MSIE [1-11]" [NC]
  RewriteRule ^(.*)$ /browser-not-supported [R=301,L]
  # Redirect http to https
  #RewriteCond %{HTTPS} off
  #RewriteRule ^(.*)$ https://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
  # Redirect none-www to www
  #RewriteCond %{HTTP_HOST} !^www\. [NC]
  #RewriteRule ^(.*)$ https://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
  # Redirect /index.php/* to /*
  RewriteCond %{THE_REQUEST} !^.*administrator [NC]
  RewriteCond %{THE_REQUEST} ^.*index\.php [NC]
  RewriteRule (.*?)index\.php/*(.*) /$1$2 [R=301,NE,L]
#
## End - Redirects

## End - Custom redirects

# RewriteBase /
## Begin - Joomla! core SEF Section.
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteCond %{REQUEST_URI} !^/index\.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php [L]