RewriteEngine On
Options +FollowSymlinks
Options -Indexes

## Begin - Redirects
#
  # Redirect IE to /browser-not-supported
  RewriteRule ^browser-not-supported$ [NC,L]
  RewriteCond %{HTTP_USER_AGENT} "MSIE [1-11]" [NC]
  RewriteRule ^(.*)$ /browser-not-supported [R=301,L]

  # Redirect http to https
  RewriteCond %{HTTPS} off
  RewriteRule ^(.*)$ https://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

  # Redirect none-www to www
  RewriteCond %{HTTP_HOST} !^www\. [NC]
  RewriteRule ^(.*)$ https://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

  # Redirect /index.php/* to /*
  RewriteCond %{THE_REQUEST} !^.*administrator [NC]
  RewriteCond %{THE_REQUEST} ^.*index\.php [NC]
  RewriteRule (.*?)index\.php/*(.*) /$1$2 [R=301,NE,L]
#
## End - Redirects

## Begin - Joomlatools Pages - static cache
#
    SetEnvIf Request_URI ^.*  PAGES_STATIC_PATH=sites/thewell.foundation/cache/static

    # Define the filesystem locations (related to server root)
    RewriteRule ^ - [E=PAGES_STATIC_ROOT:%{DOCUMENT_ROOT}/%{ENV:PAGES_STATIC_PATH}]

    # Prevent direct access to the static cache
    RewriteRule ^joomlatools-pages/cache/static - [END,R=404]

    # Condition - Do not serve from cache on browser refresh or when caching is not allowed
    RewriteCond %{HTTP:Cache-Control} (must-revalidate|max-age|no-cache|no-store)
    RewriteRule .* - [S=4]

    # Condition - Only return cache for none logged in GET request
    RewriteCond %{REQUEST_METHOD} !GET [OR]
    RewriteCond %{HTTP_COOKIE} ^.*joomla_user_state=logged_in.*$
    RewriteRule .* - [S=3]

    # Rewrite - /
    # Edit when running in a subfolder
    RewriteCond "expr=%{REQUEST_URI} =~  m#/#"
    RewriteCond %{ENV:PAGES_STATIC_ROOT}/%{REQUEST_URI}/index\.html -s
    RewriteRule .* %{ENV:PAGES_STATIC_PATH}/%{REQUEST_URI}/index\.html [T=text/html,E=STATIC,L]

    # Rewrite - /path/to/page.html
    RewriteCond %{ENV:PAGES_STATIC_ROOT}/%{REQUEST_URI}\.html -s
    RewriteRule .* %{ENV:PAGES_STATIC_PATH}/%{REQUEST_URI}\.html [T=text/html,E=STATIC,L]

    # Rewrite - /path/to/page.[format]
    RewriteCond %{ENV:PAGES_STATIC_ROOT}/%{REQUEST_URI} -s
    RewriteRule .* %{ENV:PAGES_STATIC_PATH}/%{REQUEST_URI} [E=STATIC,L]

    # Mark response as STATIC
    Header set Cache-Status "HIT, STATIC" env=REDIRECT_STATIC

    # Force explicit browser and proxy cache expiration
    Header set Cache-Control "max-age=86400,s-maxage=604800" env=REDIRECT_STATIC
#
## End - Joomlatools Pages - static cache

## Begin - Joomla! core SEF Section.
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteCond %{REQUEST_URI} !^/index\.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php [L]
